/* //////////////// GENERAL //////////////// */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: sans-serif;
    user-select: none;
}

:root {
    --main: #2F558E;
    --background: #384047;
    --hover: #2f888e;
    --box: #171a1eb7;
    --navbar: lightgray;
}

/* //////////////// BOX //////////////// */
body {
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: var(--background);
}

main {
    width: 400px;
    margin: 0 auto;
    background-color: var(--box);
}

section {
    padding: 15px;
    /* background-color: var(--hover); */
}

/* //////////////// NAVBAR //////////////// */
nav {
    height: 40px;
    display:flex;
}

nav button {
    width: 100%;
    height: 100%;

    border: 0px;
    border-top: 5px solid var(--navbar);
    background-color: var(--navbar);

    font-size: 15px;
    color: rgb(116, 116, 116);
}

nav button:hover {
    cursor: pointer;
    border-top: 5px solid var(--main);
    background-color: white;
    color: black;    
}

/* //////////////// FORM - HEADERs //////////////// */
h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: normal;
}

/* //////////////// FORM - INPUT //////////////// */
.inputBox {
    width: 700px;
    height: 30px;
    margin: 0px 10px 0px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputBox div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 370px;

    /* background-color: coral; */
    border: 1px solid white;
}

input {
    width: 92%;
    height: 100%;

    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    padding-left: 4px;
}

.checkMark {
    width: auto;
    height: 90%;
    position: relative;
}

/* //////////////// FORM - ERROR //////////////// */
.errorBox {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--main);
    padding: 7px;
    border-radius: 5px;
}

/* //////////////// FORM - SUBMIT //////////////// */
.submit {
    margin: 25px 0px 0px 0px;
    height: auto;
    padding: 10px;
    border: 0px;
    width: 100%;

    background-color: var(--main);
    color: white;
    font-size: 22px;

    cursor: pointer;
}

.submit:hover {
    background-color: var(--hover);
}

/* //////////////// FORM - RADIO //////////////// */
#radioBox div {
    border: 1px solid transparent;
}

.radio {
    width: 20px;
    margin-right: 10px;
}

label {
    margin-right: 20px;
}

#c23 {
    margin-right: 5px;
    margin-left: auto;
}

/* //////////////// SIGNED and LOGGED PAGES //////////////// */
#signedPage h1, #loggedPage h1{
    margin: 0;
}